<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Thyms - Juan Carlos Gomez - Rack: <strong>{{rackSeleccionado}}</strong> - Factura: {{facturaSeleccionada}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <ion-label text-center color="danger">Racks</ion-label>
        <ion-scroll scrollX="true" scrollY="true" style="width: 100%; height: 100%">
          <ion-list>
            <button ion-button full color="botonBlanco" *ngFor="let rack of racks" [ngStyle]="{'background-color': rack.id === rackSeleccionado ? '#32db64' : null }"
                    (click)="cambiarRackSeleccionado(rack.id)" icon-end>
              {{ rack.id }}
              <ion-icon name='arrow-forward'></ion-icon>
            </button>
          </ion-list>
        </ion-scroll>

      </ion-col>
      <ion-col col-8>
        <ngx-datatable class="material" [sortType]="'multi'" [headerHeight]="40" [footerHeight]="40" [rowHeight]="50"
                       [rows]="productos"
                       [columnMode]="'flex'" [sortType]="'multi'" [reorderable]="false" [limit]="10"
                       [selected]="selected"
                       [selectionType]="'cell'"
                       (select)="onSelect($event)"
                       (activate)="onActivate($event)">

          <ngx-datatable-column name="" prop="" editable="true" frozenLeft="True" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
                         let-group="group">
              <button ion-button small color="danger" (click)="eliminarProducto(row, rowIndex)" [disabled]="!row.enlistado">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Referencia" prop="referencia" editable="false" frozenLeft="True"
                                [flexGrow]="1"></ngx-datatable-column>

          <ngx-datatable-column name="Descripción" prop="descripcion" editable="false" frozenLeft="True"
                                [flexGrow]="3">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <label *ngIf="!row.enlistado; else noEnlistado" (click)="obtenerFilaSeleccionada(row)">{{value}}</label>
              <!-- <ion-icon *ngIf="!row.enlistado;" name="close-circle"></ion-icon> -->
              <ng-template #noEnlistado>
                <label (click)="obtenerFilaSeleccionada(row)">{{value}} - LISTO!</label>
                <ion-icon name="checkmark-circle"></ion-icon>
              </ng-template>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Cantidad" prop="cantidad" editable="false" frozenLeft="True"
                                [flexGrow]="1"></ngx-datatable-column>

          <ngx-datatable-column name="" prop="" editable="true" frozenLeft="True" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
                         let-group="group">
              <button ion-button small color="secondary" (click)="agregarProducto(row, rowIndex)" [disabled]="row.enlistado">
                <ion-icon name="cart"></ion-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </ion-col>
      <ion-col col-2>
        <ion-label text-center color="secondary">Facturas</ion-label>
        <ion-scroll scrollX="true" scrollY="true" style="width: 100%; height: 100%">
          <ion-list>
            <button ion-item *ngFor="let factura of facturas" [ngStyle]="{'background-color': factura.id === facturaSeleccionada ? '#32db64' : null }"
                    (click)="cambiarFacturaSeleccionada(factura.id)" icon-start>
              <ion-icon name='arrow-back'></ion-icon>
              {{ factura.nombre }}
              <p style="color: black">{{factura.id}}</p>
            </button>
          </ion-list>
        </ion-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p text-center><strong>Productos:</strong> {{totalProductos.total}} | <strong>Thyms:</strong> {{totalProductos.thyms}} | <strong>Leale:</strong> {{totalProductos.leale}} | <strong>Visalia:</strong>
    {{totalProductos.visalia}} | <strong>Publicidad:</strong> {{totalProductos.publicidad}} </p>
</ion-content>
